@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}
.text-link {
    color: #333;
    text-decoration: none;
}
.text-link:hover {
    text-decoration: none;
    color: #000;
}
section {
    padding-top: 30px;
    padding-bottom: 50px;
}

.navbar-grey {
    background: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-style {
    text-transform: uppercase;
    font-size: 13px;
}

@media (min-width: 767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .top-nav-collapse {
        background: #fff;
        padding: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

.top-nav-collapse {
    background: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


/* Helper Classes */

.white-text {
    color: #fff !important;
}


/* Social Icons */

.right-foot {
    text-align: right;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.social-icons {
    text-align: right;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.3em;
    color: #fff;
    cursor: pointer;
}

.social-icons h1 {
    margin: 40px 0;
}

.social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons ul li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.social-icons ul li a {
    display: block;
    font-size: 1.4em;
    margin: 0 5px;
    text-decoration: none;
}

.social-icons ul li a i {
    color: #fff;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.social-icons ul li a:hover i {
    color: #f7f7f7;
}

.social-icons ul li a:focus i,
.social-icons ul li a:active i {
    transition: none;
    color: #f7f7f7;
}


/* Custom Styles */

.foot-space {
    line-height: 1.8;
}

.footer-title {
    margin: 0;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
}

.font-20 {
    font-size: 20px;
}

footer {
    background-color: rgba(0, 125, 195, 0.8);
    padding: 30px 0;
    color: #fff;
    margin-top: 50px;
    word-wrap: break-word;
}

footer p {
    margin: 6px 0;
}

footer a {
    color: #f7f7f7;
}

.logo {
    width: 280px;
    padding: 8px 0;
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 20px;
}

.margin-top-180 {
    margin-top: 180px;
}

.margin-top-60 {
    margin-top: 60px;
}

.caption-padding {
    padding: 0px 20px 20px 20px !important;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-size: cover;
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/ec/36/67/ec366788b3b9cc8d2aaafb00a6b88160.jpg');
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}


/**
 * Slider
 */

.carousel-inner .item {
    max-height: 680px;
}

.carousel-inner .item:after {
    content: "";
    background-color: rgba(0, 125, 195, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.carousel-control {
    width: 10%;
}

.carousel-control .fa {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .fa.fa-chevron-right {
    right: 50%;
    margin-right: -10px;
}

@media screen and (min-width: 768px) {
    .carousel-control .fa {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-control .fa-chevron-left {
        margin-left: -15px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-caption h2 {
        margin-top: 200px;
    }
}


/**
 * Slider caption
 */

.carousel-caption h2 {
    color: #fff;
    font-size: 70px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.carousel-caption p {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 20%;
        left: 20%;
        bottom: 20%;
    }
}


/**
 * Button
 */

.btn-transparent {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: .25s all;
}

.btn-transparent:hover {
    background-color: #fff;
    transition: .25s all;
}

.btn-rounded {
    border-radius: 70px;
}

.btn-large {
    padding: 11px 45px;
    font-size: 18px;
}


/** 
 * Titling/Font Styles 
 */

.logo-title {
    font-size: 24px;
    text-transform: uppercase;
    color: #555;
}

.logo-title span {
    font-weight: 800;
}


/**
 * Change animation duration
 */

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}